@page "/painel"
@page "/painel/{alley}"

@using BowlingPainelOnBlazor.Data
@using Bowling.Domain.Game.Entities
@using Microsoft.AspNetCore.Components.Rendering
@inject BowlingService BowlingService

@if (painel == null)
{<p><em>Loading...</em></p>}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-md-left" width="20">Nome</th>
                @for (int i = 1; i <= 10; i++)
                {
                    <th class="col-md-1 text-center" align="center" width="7">@i</th>
                }
                <th class="text-right" align="right" width="10">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in painel.Players)
            {
                <tr>
                    <td align="left" style="vertical-align: middle;">@player.Name</td>
                    @for (int i = 0; i < 10; i++)
                    {
                        <td align="center">@{ DrawFrame(__builder, player, i); }</td>
                    }
                    <td align="right" style="vertical-align: middle;">@player.Frames.LastOrDefault()?.Score</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public string Alley { get; set; } = "01";
    private Painel painel;

    protected override async Task OnParametersSetAsync()
    {
        painel = await BowlingService.GetScoreAsync(Alley);
        this.StateHasChanged();
        BowlingService.OnChange += RefrashOnChange;
    }

    private void RefrashOnChange(object o, EventArgs e)
    {
        InvokeAsync(async () =>
        {
            painel = await BowlingService.GetScoreAsync(Alley);
            this.StateHasChanged();
        });
    }

    private void DrawFrame(RenderTreeBuilder __builder, Player player, int id)
    {
        var frame = player.Frames.ElementAtOrDefault(id);
        var colMd = id == 9 ? "col-md-4" : "col-md-6";
        @if (frame != null)
        {
            var att1 = frame.Balls.ElementAtOrDefault(0);
            var att2 = frame.Balls.ElementAtOrDefault(1);
            var att3 = frame.Balls.ElementAtOrDefault(2);
            <div class="row">
                @if (att1 == 10)
                {<div class="@colMd">X</div>}
                else if (att1 == 0)
                {<div class="@colMd">-</div>}
                else
                {<div class="@colMd">@att1</div>}

                @if (frame.Balls.Count > 1)
                {
                    @if (att2 == 10)
                    {<div class="@colMd">X</div>}
                    else if (att2 == 0)
                    {<div class="@colMd">-</div>}
                    else if ((att1 + att2) == 10)
                    {<div class="@colMd">/</div>}
                    else
                    {<div class="@colMd">@att2</div>}
                }

                @if (frame.Balls.Count > 2)
                {
                    @if (att3 == 10)
                    {<div class="@colMd">X</div>}
                    else if (att3 == 0)
                    {<div class="@colMd">-</div>}
                    else if ((att2 + att3) == 10)
                    {<div class="@colMd">/</div>}
                    else
                    {<div class="@colMd">@att3</div>}
                }
            </div>
            <div class="row">
                <div class="col-md-12" style="border-top: 1px solid #dee2e6;">@frame.Score</div>
            </div>
        }
    }
}
