@page "/config"
@inherits ConfigurationsBase

<h1>AMQP Configurations</h1>
<hr>

<EditForm EditContext="@Context" OnValidSubmit="@OnSubmit">

    <div class="alert alert-warning pl-5" hidden="@Context.Validate()">
        <DataAnnotationsValidator />
        <ValidationSummary />
    </div>

    <div class="row content">
        <label class="col-sm-1 col-form-label" for="host">Host: </label>
        <InputText class="col-sm-3 form-control" id="host" @bind-Value="Model.Host" />
        <div class="col-md-6 m-2">
            <ValidationMessage For="@(() => Model.Host)" />
        </div>
    </div>

    <div class="row content">
        <label class="col-sm-1 col-form-label" for="port">Port: </label>
        <InputNumber class="col-sm-1 form-control" id="port" @bind-Value="Model.Port" />
        <div class="col-md-8 m-2">
            <ValidationMessage For="@(() => Model.Port)" />
        </div>
    </div>

    <hr>

    <div class="row content">
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-primary" disabled="@SubmitIsDisable">Submit</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="form-control btn btn-info" disabled="@TestIsDisable" @onclick="TestOnclick">Test</button>
        </div>
        <div class="col-md-7 m-2">
            <InputCheckbox @bind-Value="@Model.Tested"/>
            <ValidationMessage For="@(() => Model.Tested)" />
        </div>
    </div>
</EditForm>